<html>
  <head>
  <title>Login success!</title>
  </head>
  <body>
    <h1>Welcome, <%=@username%></h1>
    <h2>You are now logged in</h2>
  </body>
      <body>
      <form action="/" method="GET">
        <p><input type="submit" value="go to peeps"></p>
      </form>
      <form action="/account" method="GET">
        <p><input type="submit" value="go to my account"></p>
      </form>
    </body>
</html>