<html>
  <head>
  <title>Login</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <h2>Please login. If you're new, <a href="/signup"/>signup</a> instead.</h2>
  </body>
    <body>
      <form action="/login" method="POST">
        <p>Please enter your username</p>
        <input type="text" name="username"></p>
        <p>Please enter your password</p>
        <input type="password" name="password"></p>
        <p><input type="submit" value="login"></p>
    </form>
    </body>
</html>