<html>
  <head><%=@username%> has just peeped</head>
  <title><%=@username%>'s peep post success page</title>
  <body>
    <h2>Peep posted successfully</h2>
    <p><%=@content%></p>
    <p><%=@time%></p>
  </body>
</html>