<html>
  <head>
  <title>Signup</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <h2>Fill in the form to sign up for a new account. If you already have one, please <a href="/login">login</a> instead</h2>
  </body>
    <body>
      <form action="/signup" method="POST">
        <p>Please enter your username</p>
        <input type="text" name="username"></p>
        <p>Please enter your password</p>
        <input type="password" name="password"></p>
        <p>Please enter an email address</p>
        <input type="email" name="email"></p>
        <p><input type="submit" value="signup"></p>
    </form>
    </body>
</html>